@model GesVeh.Model.Vehicule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vehicule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Finition.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Finition.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Immatriculation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Immatriculation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proprietaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proprietaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sortie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sortie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeleteBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeleteBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModificationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModificationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Delete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delete)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
