@model IEnumerable<GesVeh.Model.Vehicule>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create",null,new { @class = "btn btn-success" })
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Finition.Modele.Marque.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Finition.Modele.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Finition.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Immatriculation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proprietaire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sortie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeleteBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModificationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeletationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delete)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Finition.Modele.Marque.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Finition.Modele.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Finition.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Immatriculation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Etat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proprietaire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Entree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sortie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeleteBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModificationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeletationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Delete)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID },new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID },new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID },new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
